html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.game-title {
	margin-bottom: 50px;
	text-align: center;
	color: #f7971e;
	font-weight: bold;
	font-size: 10rem;
	font-family: "Cookie", cursive;
}

.start-button,
.how-to-play-button {
	margin: 5px;
	padding: 20px 40px;
	border-radius: 6px;
	border: none;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.start-button:hover,
.how-to-play-button:hover {
	cursor: pointer;
	background: transparent;
	border: 2px solid #eee;
	color: white;
}

img {
	width: 100px;
	height: 100px;
}

.red-text {
	color: red;
	font-size: 30px;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
}

.game-explain {
	display: flex;
	justify-content: start;
	align-items: center;
}

.sub-explain {
	font-size: 24px;
	text-align: center;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 25%;
	top: 10%;
	border-radius: 4px;
	z-index: 1;
	height: 85%;
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #808080;
}

.modal-title {
	margin: 10px 10px 5px 10px;
	font-size: 60px;
	font-family: "Cookie", cursive;
}

.modal-content {
	margin: 10px 0;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 4px;
	width: 70%;
	height: 70%;
	font-size: 26px;
	font-family: "Nanum Brush Script", cursive;
}

.modal-content * {
	margin: 10px;
}

.play-button {
	margin: 5px 5px 10px 5px;
	padding: 10px 20px;
	border-radius: 6px;
	border: none;
	color: #ccc;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.play-button:hover,
.play-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.level-page {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.level-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.selec-title {
	margin: 50px 10px 5px 10px;
	font-size: 60px;
	font-family: "Cookie", cursive;
}

.level-1,
.level-2,
.level-3 {
	margin: 10px;
	padding: 20px 40px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #666666;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "Cookie", cursive;
}

.level-1:hover,
.level-1:focus,
.level-2:hover,
.level-2:focus,
.level-3:hover,
.level-3:focus {
	background-color: black;
	cursor: pointer;
}

.open {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close {
	display: none;
}
