html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.game-title {
	text-align: center;
	color: #f7971e;
	font-weight: bold;
	font-size: 10rem;
	font-family: "Cookie", cursive;
}

.toggle-music {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	margin: 5px;
	margin-bottom: 20px;
}

.music-off:hover,
.music-on:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

.music-off,
.music-on {
	display: none;
	width: 70px;
	height: 70px;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nickname-input {
	float: right;
	width: 50%;
	height: 70px;
	border: 2px solid white;
	margin-top: 15px;
	border-radius: 5px;
	background-color: transparent;
	font-size: 18px;
	color: white;
	text-align: center;
}

.nickname-input:focus,
.nickname-input:hover {
	border-color: #03a9f4;
	outline: 0;
}

.start-button,
.how-to-play-button {
	margin: 5px;
	padding: 18px 30px;
	border-radius: 6px;
	border: none;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.start-button:hover,
.how-to-play-button:hover .play-button:hover {
	cursor: pointer;
	background: transparent;
	border: 2px solid #eee;
	color: white;
}

.play-button {
	margin: 5px;
	padding: 18px 24px;
	border-radius: 6px;
	border: none;
	font-size: 30px;
	font-family: "Cookie", cursive;
}

.play-button:hover {
	cursor: pointer;
	border: 2px solid black;
	color: black;
}

.red-text {
	color: red;
	font-size: 30px;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
}

.game-explain {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 10px;
}

.sub-explain {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 25%;
	top: 10%;
	border-radius: 4px;
	z-index: 1;
	height: 85%;
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #cdd1d4;
}

.result-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 25%;
	top: 10%;
	border-radius: 4px;
	z-index: 1;
	height: 85%;
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: transparent;
}

.modal-title {
	margin: 10px 10px 5px 10px;
	font-size: 60px;
	font-family: "Cookie", cursive;
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px 0;
	padding: 20px;
	background-color: #f4f4f4;
	border: 1px solid black;
	border-radius: 4px;
	width: 70%;
	height: 70%;
	font-size: 26px;
	font-family: "Nanum Brush Script", cursive;
}

.game-explain {
	display: flex;
	justify-content: space-around;
}

.game-explain * {
	margin: 5px;
}

.audio {
	width: 60px;
	height: 60px;
}

.audio-image {
	width: 70px;
	height: 70px;
}

.arrow-jump {
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.arrow {
	width: 80px;
	height: 80px;
	margin-left: 10px;
}

.close-button {
	display: flex;
	margin: 5px 5px 10px 5px;
	padding: 10px 20px;
	border-radius: 6px;
	border: none;
	color: #ccc;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.close-button:hover,
.close-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.level-page {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.level-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.selec-title {
	margin: 50px 10px 5px 10px;
	font-size: 60px;
	font-family: "Cookie", cursive;
}

.level-1,
.level-2,
.level-3 {
	margin: 10px;
	padding: 20px 40px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #666666;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "Cookie", cursive;
}

.level-1:hover,
.level-1:focus,
.level-2:hover,
.level-2:focus,
.level-3:hover,
.level-3:focus {
	background-color: black;
	cursor: pointer;
}

.game-over {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 7rem;
	font-family: "Cookie", cursive;
}

.game-win {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	text-align: center;
	color: rgb(255, 208, 0);
	font-weight: bold;
	font-size: 7rem;
	font-family: "Cookie", cursive;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button-container {
	margin-top: 30px;
}

.result-sub-text {
	margin-top: 0;
	font-weight: bold;
	font-size: 1rem;
}

.open {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close {
	display: none;
}

.percent-container {
	position: absolute;
	top: 20px;
	font-weight: bold;
	font-size: 4rem;
	font-family: "Cookie", cursive;
}
