html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.game-title {
	text-align: center;
	color: #f7971e;
	font-weight: bold;
	font-size: 10rem;
	font-family: "Cookie", cursive;
}

.start-button,
.game-explain {
	margin: 5px;
	padding: 20px 40px;
	border-radius: 6px;
	border: none;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.start-button:hover,
.game-explain:hover {
	cursor: pointer;
	background: transparent;
	border-bottom: 2px solid #eee;
	color: white;
}

.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-radius: 4px;
	z-index: 1;
	left: 0;
	top: 0;
	height: 70%;
	width: 70%;
	overflow: auto;
	background-color: #808080;
}

.modal-title {
	margin: 10px 10px 5px 10px;
	font-size: 60px;
	font-family: "Cookie", cursive;
}

.modal-content {
	margin: 5% auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 4px;
	width: 70%;
	height: 50%;
	font-size: 26px;
	font-family: "Nanum Brush Script", cursive;
}

.play-button {
	margin: 5px 5px 10px 5px;
	padding: 10px 20px;
	border-radius: 6px;
	border: none;
	color: #ccc;
	font-size: 40px;
	font-family: "Cookie", cursive;
}

.play-button:hover,
.play-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.open {
	display: flex;
	justify-content: center;
	align-items: center;
}
