@font-face {
	src: url("./assets/fonts/zig_____.ttf");
	font-family: "arcade";
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

@media screen and (max-device-width: 320px) {
	canvas {
		width: 80vmin;
		height: 80vmin;
	}
}

@media screen and (min-width: 321px) and (max-width: 767px) and (orientation: portrait) {
	canvas {
		width: 90vmin;
		height: 90vmin;
	}
}

@media screen and (min-width: 768px) and (orientation: portrait) {
	canvas {
		width: 900px;
		height: 900px;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	canvas {
		width: 70vmax;
		height: 60vmin;
	}
}

@media screen and (min-width: 768px) and (max-width: 1365px) and (orientation: landscape) {
	canvas {
		width: 90vmax;
		height: 70vmin;
	}
}

@media screen and (min-width: 1366px) and (max-width: 1599px) and (orientation: landscape) {
	canvas {
		width: 90vmax;
		height: 80vmin;
	}
}

@media screen and (min-width: 1600px) {
	canvas {
		width: 1600px;
		height: 900px;
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.game-title {
	text-align: center;
	color: #f7971e;
	font-weight: bold;
	font-size: 10rem;
	font-family: "Cookie", cursive;
}

.toggle-music {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	margin: 5px;
	margin-bottom: 20px;
}

.music-off:hover,
.music-on:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

.music-off,
.music-on {
	display: none;
	width: 70px;
	height: 70px;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nickname-input {
	float: right;
	width: 50%;
	height: 70px;
	border: 2px solid white;
	margin-top: 15px;
	border-radius: 5px;
	background-color: transparent;
	font-size: 18px;
	color: white;
	text-align: center;
}

.nickname-input:focus,
.nickname-input:hover {
	border-color: #03a9f4;
	outline: 0;
}

.start-button,
.how-to-play-button {
	margin: 5px;
	padding: 22px 30px;
	border-radius: 6px;
	border: none;
	font-size: 20px;
	font-family: "arcade";
}

.start-button:hover,
.how-to-play-button:hover {
	cursor: pointer;
	background: transparent;
	border: 2px solid #eee;
	color: white;
}

.play-button {
	margin: 5px;
	padding: 18px 24px;
	border-radius: 6px;
	border: none;
	font-size: 24px;
	font-family: "arcade";
}

.play-button:hover {
	cursor: pointer;
	border: 2px solid black;
	color: black;
}

.red-text {
	color: red;
	font-size: 30px;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
}

.game-explain {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 10px;
}

.sub-explain {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
}

.mic-explain {
	margin-top: 20px;
	font-size: 24px;
	color: rgb(255, 0, 0);
	text-align: center;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 25%;
	top: 10%;
	border-radius: 4px;
	z-index: 1;
	height: 85%;
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #cdd1d4;
}

.result-modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 25%;
	top: 10%;
	border-radius: 4px;
	z-index: 1;
	height: 85%;
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: transparent;
}

.modal-title {
	margin: 10px 10px 5px 10px;
	font-size: 40px;
	font-family: "arcade";
}

.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px 0;
	padding: 20px;
	background-color: #f4f4f4;
	border: 1px solid black;
	border-radius: 4px;
	width: 70%;
	height: 70%;
	font-size: 26px;
	font-family: "Nanum Brush Script", cursive;
}

.game-explain {
	display: flex;
	justify-content: space-around;
}

.game-explain * {
	margin: 5px;
}

.audio {
	width: 60px;
	height: 60px;
}

.audio-image {
	width: 70px;
	height: 70px;
}

.arrow-jump {
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.arrow {
	width: 80px;
	height: 80px;
	margin-left: 10px;
}

.close-button {
	display: flex;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 6px;
	border: none;
	color: #ccc;
	font-size: 20px;
	font-family: "arcade";
}

.close-button:hover,
.close-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.level-page {
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/images/background/selecPage/selecPage.png");
	animation: movebg 5s linear infinite;
}

@keyframes movebg {
	0% {
		background-position: 0% center;
	}
	100% {
		background-position: 10% center;
	}
}

.level-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 25%;
}

.selec-title {
	margin: 50px 10px 5px 10px;
	font-size: 60px;
	font-family: "arcade";
}

.level-1,
.level-2,
.level-3 {
	margin: 10px;
	padding: 30px 40px;
	background-color: lightgray;
	text-shadow: -1px -1px black, 1px 1px white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;

	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "arcade";
	font-weight: bold;
}

.level-1:hover,
.level-1:focus,
.level-2:hover,
.level-2:focus,
.level-3:hover,
.level-3:focus {
	box-shadow: 1px 1px 20px rgb(255, 223, 81);
	background-color: black;
	cursor: pointer;
}

.game-over {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 5rem;
	font-family: "arcade";
}

.game-win {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(255, 208, 0);
	font-weight: bold;
	font-size: 7rem;
	font-family: "arcade";
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button-container {
	margin-top: 30px;
}

.result-sub-text {
	margin: 20px;
	font-weight: bold;
	font-size: 1rem;
}

.open {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close {
	display: none;
}

.percent-container {
	display: none;
	position: absolute;
	top: 20px;
	font-weight: bold;
	font-size: 4rem;
	font-family: "Cookie", cursive;
}

.show {
	display: flex;
}
